.b1
{
    background-image: url(background.jpg);
}
.div1{
    border : 2px solid black;
    border-radius: 20px;
    padding: 30px;
    height: 350px;
    width: 600px;
}
label{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}
h2{
    font-weight: 800;
    font-size: xx-large;
}